.cards-board {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

.card-cont {
    width: calc(100%/5);
    height: calc(100%/4);
    display: flex;
    justify-content: center;
    align-items: center;
}